.HomePage {
  justify-content: center;
  align-items: center;
}

.buttom {
  display: flex;
}

.menu-container {
  background-color: rgb(251, 239, 245);
  width: 85%;
  margin: auto;
  height: auto;
  border-radius: 20px;
  margin-top: 4rem;
  box-shadow: 2px 2px 8px #94255c;
  margin-bottom: 3rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.empty-menu {
  height: 20rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  color: #94255c;
  font-weight: bold;
}
